PORT=3331
CORS_ORIGINS=https://tku-sparring.localhost,http://localhost:3000,http://127.0.0.1:3000,https://tku-sparring.vercel.app,https://tss.localhost
INTERNAL_BROADCAST_SECRET="generate-a-random-secret"
TOURNAMENT_SOCKET_JWT_SECRET="generate-a-random-secret"
